<div style="text-align: center">
  <mat-toolbar color="primary"> LocalCast Weather </mat-toolbar>
  <div class="vertical-margin mat-caption">
    Your city, your forecast, right now!
  </div>
  <div fxLayout="row">
    <div fxFlexFill fxLayoutAlign="center center">
      <app-city-search  ></app-city-search>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex></div>
    <mat-card fxFlex="300px">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="mat-headline">Current Weather</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-current-weather></app-current-weather>
      </mat-card-content>
    </mat-card>
    <div fxFlex></div>
  </div>
</div>
